{% extends 'rootbase.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-10 col-xs-10 col-sm-10">
            <h3 class="round3" style="text-align:center;">Courses</h3>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1 col-xs-8 col-sm-8"></div>
        <div class="col-md-7 col-xs-5 col-sm-5">
            <br />
			<a href="{% url 'accounts:profile' %}">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus">Main</span>
                </button>
            </a>
			<a href="{% url 'education:index' %}">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus">Education Dashboard</span>
                </button>
            </a>			
            <a href="{% url 'education:courses_create' %}">
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus">Create Courses</span>
                </button>
            </a>
            <a href="{% url 'education:schools_index' %}">
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus">Schools</span>
                </button>
            </a>
            <a href="{% url 'education:class_index' %}">
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus">Classes</span>
                </button>
            </a>
        </div>
    </div>
    <br />
    {% for courses_item in courses_list %}
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-7 col-xs-7 col-sm-7">
            <ul class="list-group">
                <li class="list-group-item ">
                   <strong>Schools: </strong>{{courses_item.schoolsList.0.schools_name}} <br /> 
				   <strong>Classes: </strong>{{courses_item.classList.0.class_name}} <br />
				   <strong>Courses: </strong>{{ courses_item.courses.courses_name }} 
                </li>
                <li class="list-group-item ">
                    <a href="{% url 'education:courses_details' courses_item.courses.pk %}"> View Questions </a> <span class="badge"></span>
                </li>
            </ul>
            <br>
        </div>
		<!-- <div class="col-md-2 col-xs-2 col-sm-2"> -->
            <!-- <a href="{% url 'education:questions_create' courses_item.courses.pk %}"> -->
                <!-- <button type="button" class="btn btn-info"> -->
                    <!-- <span class="glyphicon glyphicon-open">Add Questions</span> -->
                <!-- </button> -->
            <!-- </a> -->
        <!-- </div> -->
        <div class="col-md-1">
            <a href="{% url 'education:courses_edit' courses_item.courses.pk %}">
                <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil">Edit</span>
                </button>
            </a>
        </div>
        <div class="col-md-1">
            <a href="{% url 'education:courses_delete' courses_item.courses.pk %}">
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash">Delete</span>
                </button>
            </a>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>
    {% endfor %}
</div>
	{% endif %}
{% endblock %}
