{% extends 'rootbase.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-10 col-xs-10 col-sm-10">
            <h3 class="round3" style="text-align:center;">Schools</h3>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1 col-xs-8 col-sm-8"></div>
        <div class="col-md-7 col-xs-5 col-sm-5">
            <br />
			<a href="{% url 'accounts:profile' %}">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus">Main</span>
                </button>
            </a>
			<a href="{% url 'education:index' %}">
                <button type="button" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus">Education Dashboard</span>
                </button>
            </a>			
            <a href="{% url 'education:schools_create' %}">
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus">Create Schools</span>
                </button>
            </a>
            <a href="{% url 'education:class_index' %}">
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus">Classes</span>
                </button>
            </a>
            <a href="{% url 'education:courses_index' %}">
                <button type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus">Courses</span>
                </button>
            </a>
        </div>
    </div>
    <br />
    {% for school in schools_list %}
    <div class="row">
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
        <div class="col-md-7 col-xs-7 col-sm-7">
            <ul class="list-group">
                <li class="list-group-item ">
                    <strong>School:</strong> {{ school.schools_name }} <br> <strong>Address:</strong> {{school.address}} <span class="badge"></span>
                </li>
            </ul>
            <br>
        </div>
		{% if request.user.is_superuser or user.id|add:"0" == school.userId|add:"0" %}
        <div class="col-md-1">
            <a href="{% url 'education:schools_edit' school.pk %}">
                <button type="button" class="btn btn-info">
                    <span class="glyphicon glyphicon-pencil">Edit</span>
                </button>
            </a>
        </div>
        <div class="col-md-1">
            <a href="{% url 'education:schools_delete' school.pk %}">
                <button type="button" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash">Delete</span>
                </button>
            </a>
        </div>
		{% endif %}
        <div class="col-md-1 col-xs-1 col-sm-1"></div>
    </div>
    {% endfor %}
</div>
	{% endif %}
{% endblock %}
